@mixin positionDir($top, $left, $bottom, $right) {
  @if length = 1{
    top :$top;
    left: $top;
    bottom: $top;
    right: $top
  }
  @else if length  = 2 {

  }
  @else if length = 3{

  }
  @else if length = 4{

  }
}
