$color-blue: #26a2ff;
$color-white: #fff;
$color-grey: #d9d9d9;
$border-color: #c8c8cd;
$success-color: #4caf50;
$error-color: #f44336;
$warning-color: #ffc107;


$color-primary:#2d8cf0;
$color-light-primary: #5cadff;
$color-dark-primary: #2b85e4;
$color-info: #2d8cf0;
$color-success: #19be6b;
$color-warning: #ff9900;
$color-error: #ed3f14;
$color-title: #1c2438;
$color-content: #495060;
$color-sub: #80848f; /* 辅助 图标 */
$color-disabled: #bbbec5; /* 失效 */
$color-border: #dddee1;
$color-divider: #e9eaec;
$color-background: #f8f8f9;

/* Header Component */
$header-height: 40px;

/* Button Component */
$button-write-color:#fff;
$button-default-color: #656b79;
$button-default-background-color: #f6f8fa;
$button-default-plain-color: #5a5a5a;
$button-default-box-shadow: 0 0 1px #b8bbbf;
$button-primary-color: #26a2ff;
$button-primary-background-color: #26a2ff;
$button-success-color: #67c23a;
$button-success-backrgound-color: #67c23a;
$button-danger-color: #ef4f4f;
$button-danger-background-color: #ef4f4f;
$button-warning-color: #e6a23c;
$button-warning-backrgound-color:#e6a23c;


/* z-index */
$z-index-normal: 1;
