<style media="screen">
@component-namespace tap {
  @component swipe {
    overflow: hidden;
    position: relative;
    /* height: 100%; */

    @descendent items-wrap {
      position: relative;
      overflow: hidden;
      height: 100%;

      > div {
        position: absolute;
        transform: translateX(-100%);
        size: 100% 100%;
        display :none;

        @when active {
          display: block;
          transform: none;
        }
      }
    }

    @descendent indicators {
      position: absolute;
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%);
    }

    @descendent indicator {
      size: 8px 8px;
      display: inline-block;
      border-radius: 100%;
      opacity: 0.2;
      margin: 0 3px;

      @when active {
        background: #fff;
      }
    }
  }
}



.tap-swipe {
  overflow: hidden;
  position: relative;
  -webkit-user-select: none;
          user-select: none;
}

.tap-swipe-indicators {
    position: absolute;
    display: flex;
    justify-content: center;
    left: 0;
    right: 0;
    bottom: 10px;
    height: 4px;
  }

.tap-swipe-indicators > i {
      position: relative;
      cursor: pointer;
      display: inline-block;
      width: 10px;
      height: 4px;
      border-radius: 3px;
      background-color: rgba(255,255,255,.4);
      margin: 0 3px;
      transition: all .2s;
    }
.tap-swipe-indicators > i.is-active {
  width: 16px;
  background: rgba(255,255,255, .8);
}
</style>
